<div class="container">
    <mat-toolbar>
      <span>Sobre Nosotros</span>
            
    </mat-toolbar>
</div>
    
      <section>
          
          <h3 class="somos">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod euismod urna, eget varius elit mattis placerat. Fusce in diam lobortis, facilisis velit ac, ornare orci. Proin faucibus odio dui, ut tempus elit rutrum quis. Fusce sed tempor quam. Sed elit risus, placerat ac iaculis et, placerat nec est. Suspendisse sed aliquam urna. Fusce id leo nec mi feugiat laoreet sed sed ante. Phasellus et congue justo. Fusce bibendum malesuada venenatis. In tellus lectus, ultrices eget molestie sit amet, fringilla at sapien. Phasellus rhoncus at risus in placerat. Etiam non placerat eros. Etiam auctor quis massa quis consequat. Sed consectetur pulvinar urna eu porttitor. Aliquam erat volutpat. Nullam luctus sed enim eu pellentesque.
              </p>
              <p>
                Nulla id mi fringilla, vestibulum diam in, ornare leo. Integer scelerisque nunc ut vestibulum commodo. Suspendisse vestibulum, felis non viverra ullamcorper, eros arcu imperdiet arcu, sit amet tempor diam neque mattis ex. Pellentesque aliquam turpis leo, ut consequat augue dictum ut. Fusce ante odio, bibendum in tempor ac, commodo vitae metus. Suspendisse ut est sit amet ante porttitor mattis sit amet sit amet libero. Nam aliquam semper leo, eget malesuada erat convallis vitae. Suspendisse sagittis iaculis blandit. Praesent velit turpis, faucibus in dignissim ac, malesuada eu dolor. Suspendisse potenti. Sed lacus augue, efficitur nec placerat quis, lobortis vitae enim.
              </p>
          </h3>


          <section>
              <h2 class="trab">¿Quieres trabajar con nosotros?</h2>

              <form class="form">
                  <h3 class="h3-form"><strong>Contáctanos aquí</strong></h3>

                  <input class="control" type="text" placeholder="Tu nombre">

                  <input class="control" type="text" placeholder="Tus apellidos">

                  <input class="control" type="email" placeholder="Tu email">
                  <div class="genero">
                      <p><strong>Género</strong></p>
                  </div>
                  <div>
                      <input type="radio" id="hombre" name="fav_language" value="HTML">
                      <label for="hombre">Hombre</label>
                      <input type="radio" id="mujer" name="fav_language" value="CSS">
                      <label for="mujer">Mujer</label>
                      <input type="radio" id="otro" name="fav_language" value="JavaScript">
                      <label for="otro">Otro</label>
                  </div>
                  <br>
                  <div class="fecha">
                      <label>Fecha de nacimiento:</label>
                      <input type="date"><br>
                  </div>
                  <br>
                  <div class="nacion">
                      <label>¿De dónde eres?</label>
                      <select name="" id="">
                          <option value="">Europa</option>
                          <option value="">Norteamérica</option>
                          <option value="">Sudamérica</option>
                          <option value="">Asia</option>
                          <option value="">África</option>
                          <option value="">Oceanía</option>
                      </select>
                  </div>
                  <br>


                  <textarea class="control" placeholder="Escríbenos aquí"></textarea>
                  <div>
                      <input class="send" type="submit" value="Enviar">
                  </div>
              </form>
          </section>
      
  
 